/* Put your custom CSS rules here */
table {
    text-indent: initial;
    white-space-collapse: collapse;
    text-wrap: wrap;
    line-height: normal;
    font-variant: normal;
    border-top: 1px solid var(--dark);
    border-left: 1px solid var(--dark);
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
    empty-cells: show;
    margin: 0.4em auto 0.4em auto;
    font-size: 0.8em; 
}

table.dst_result {
    width: 456px;
    table-layout: fixed;
}

th {
    border-right: 1px solid var(--dark);
    border-bottom: 1px solid var(--dark);
    background-color: var(--lesslight);
    text-align: center;
    padding: 0.2em;
}

td {
    border-right: 1px solid var(--dark);
    border-bottom: 1px solid var(--dark);
    text-align: center;
    padding: 0.2em;
}
