:root {
    color-scheme: light dark;
    --light: #fff;
    --lesslight: #efefef;
    --dark: #404040;
    --moredark: #000;
    border-top: 5px solid var(--dark);
    line-height: 1.5em; /* This causes wrapping h1's to collapse too small */
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 12px;
}

* {
    box-sizing: border-box;
    color: var(--dark);
}

button, input {
    font-size: 1em; /* Override browser default font shrinking*/
    font-family: 'M PLUS 1p', sans-serif;
}

input {
    border: 1px solid var(--dark);
    background-color: var(--lesslight);
    border-radius: .25em;
    padding: 0.2em;
}

pre {
    background-color: var(--lesslight);
    margin: 0.5em 0 0.5em 0;
    padding: 0.5em;
    overflow: auto;
}

code {
    background-color: var(--lesslight);
}

body {
    background-color: var(--light);
    margin: 0;
    max-width: 1200px;
    padding: 0 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
    touch-action: pan-x pan-y;
}

img {
    max-width: 100%;
    height: auto;
}

button, .button, input[type=submit] {
    display: inline-block;
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
    padding: .5em;
    border-radius: .25em;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

button:hover, .button:hover, input[type=submit]:hover {
    color: var(--lesslight);
    background-color: var(--moredark);
}

/* Add a margin between side-by-side buttons */
button + button, .button + .button, input[type=submit] + input[type=submit] {
    margin-left: 1em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.bordered {
    border: 3px solid;
}

.home {
    display: inline-block;
    background-color: var(--dark);
    color: var(--light);
    margin-top: 20px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    font-weight: bold;
}


/* Desktop sizes */
@media only screen and (min-width: 600px) {
    ol.twocol {
        column-count: 2;
    }
    
    .row {
        display: flex;
        flex-direction: row;
        padding: 0;
        width: 100%;
    }

    /* Make everything in a row a column */
    .row > * {
        display: block;
        flex: 1 1 auto;
        max-width: 100%;
        width: 100%;
    }

    .row > *:not(:last-child) {
        margin-right: 10px;
    }
    
    .hdn {
        width: 100%;
        display: block;
    }
    .cng {
        display: none;
    }
    .smp_top {
        padding-top: 10px;
    }
    .smp_1b {
        width: 368px;
    }
    .smp_dm1 {
        width: 48px;
    }
    .smp_dm2 {
        width: 36px;
    }
    .smp_dm3 {
        width: 24px;
    }

    table.dst_result {
        width: 456px;
        table-layout: fixed;
    }
    table.hst_result {
        width: 456px;
    }

    .hst_b_item {
        font-size: 0.9em;
    }
    .hst_1_1 {
        float:left;
        width: 368px;
        line-height: 1.2em;
        margin-left: 0;
        text-align: left;
        border-right: 1px solid var(--dark); 
        border-left: 1px solid var(--dark); 
        font-size: 0.9em;
    }

    .atk_txt {
        width:auto; 
        text-align:center;
        font-size: 0.9em;
    }
}
.smp_dm1::-webkit-inner-spin-button,
.smp_dm1::-webkit-outer-spin-button,
.smp_dm2::-webkit-inner-spin-button,
.smp_dm2::-webkit-outer-spin-button,
.smp_dm3::-webkit-inner-spin-button,
.smp_dm3::-webkit-outer-spin-button {
    -webkit-appearance: none; 
    margin: 0; 
}

/* Dark mode overrides (confusingly inverse) */
@media (prefers-color-scheme: dark) {
    :root {
        --light: #222;
        --lesslight: #333;
        --dark: #eee;
        --moredark: #fefefe;
    }
    /* This fixes an odd blue then white shadow on FF in dark mode */
    *:focus {
        outline: var(--light);
        box-shadow: 0 0 0 .25em royalblue;
    }
}

/* Printing */
@media print {
    .home {
        display: none;
    }
}
